<div class="appliance">
  <div class="appliance-content">
    <p id="pricelabel"><%= @appliance.price %>,00€/day</p>
    <h2><%= @appliance.title %></h2>
    <div class="appliance-infos">
      <p><%= @appliance.location %></p>
      <% availability = ['Available', 'Unavailable'].sample %>
        <% if availability == 'Available' %>
          <p id="ava-green"><%= availability %></p>
        <% else %>
          <p id="ava-red"><%= availability %></p>
        <% end %>
    </div>
    <!-- Image slider -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @appliance.photos.each do |photo| %>
          <div class="carousel-item active">
            <img class="d-block w-100" src="<%= cl_image_tag photo.key %>">
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <p><%= @appliance.description %></p>
    <% if policy(@appliance).edit? %>
      <%= link_to "Update", edit_appliance_path(@appliance), class: "btn btn-ghost" %>
    <% end %>

    <% if policy(@appliance).destroy? %>
      <%= link_to "Delete", appliance_path(@appliance), method: :delete, class: "btn btn-ghost" %>
    <% end %>
    <div  class="appliance-infos"
          style="width: 80%; height: 600px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="appliance-pic">
    <div class="bookform">
      <%= simple_form_for(@booking) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :start_date %>
          <%= f.input :end_date %>
        </div>

        <div class="form-actions btn btn-flat">
          <%= f.button :submit, "Book now" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
