<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1631396326838-de37e5f8bcbc);">
  <div class="container">
    <h1>Welcome to <strong>FlixTools</strong></h1>
    <p>Your place to rent appliances from your neighbors.</p>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", "#", class: "btn btn-flat" %>
    <% else %>
      <%= link_to "List my appliance", new_user_registration_path, class: "btn btn-flat" %>
    <% end %>

    <div>
      <div class="w-50 m-auto">
        <%= form_for root_path, method: :get do |f| %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find an Appliance" %>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
