<div class="user">
  <div class="userdetails">
    <h3>My account</h3>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <span>@<%= @user.username %></span>
    <p><%= @user.email %></p>
    <br>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-ghost" %>
  </div>
  <%= image_tag "https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620", class: "avatar-dashboard" %>
</div>

<div class="dashview">
  <div class="act-listings">
    <h4>My active listings</h4>
    <br>
    <% @appliances.each do |appliance| %>
      <%= link_to appliance_path(appliance) do %>
        <div>
          <p><%= appliance.title %> - Price: <%= appliance.price %>,00€</p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="act-bookings">
    <h4>My active bookings</h4>
    <br>

  </div>

</div>
