<div class="user">
  <div class="userdetails">
    <h3>My account</h3>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <span>@<%= @user.username %></span>
    <p><%= @user.email %></p>
    <br>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-ghost" %>
  </div>
  <%= image_tag "https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/0a/0a54d18df155de0b4aaafa60cb4c9ad09c40ec32_full.jpg", class: "avatar-dashboard" %>
</div>

<div class="dashview">
  <div class="act-listings">
    <h4>My active listings</h4>
    <br>
    <% @appliances.each do |appliance| %>
      <div class="con">
        <%= link_to appliance_path(appliance), class: "banana" do %>
          <div class="pee">
            <p><%= appliance.title %> - Price: <%= appliance.price %>,00€</p>
          </div>
        <% end %>
        <%# <%= link_to image_tag("https://www.clipartmax.com/png/full/219-2194818_trash-can-vector-trash-can-icon-png.png"), appliance, method: :delete, class: 'trash' %>
        <%= link_to appliance, method: :delete, class: "trash", method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash"></i></a>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="act-bookings">
    <h4>My active bookings</h4>
    <br>
    <% @bookings.each do |booking| %>
        <div class="con">
          <%= link_to appliance_path(booking.appliance), class: "banana" do %>
            <div class="pee">
              <p><%= booking.appliance.title %> - Price: <%= booking.appliance.price %>,00€</p>
            </div>
          <% end %>
          <%# <%= link_to image_tag("https://www.clipartmax.com/png/full/219-2194818_trash-can-vector-trash-can-icon-png.png"), booking.appliance, method: :delete, class: 'trash' %>
          <%= link_to booking, method: :delete, class: "trash", method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash"></i></a>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
