<%= render "shared/banner" %>
<div class="home">
  <center><h2>Tools in your area</h2></center>
  <div class="cards">

    <% @appliances.each do |appliance| %>
    <div class="card-product">
      <img src="https://picsum.photos/120" />
      <div class="card-product-infos">
        <h2><%= appliance.title %></h2>
        <p><%= appliance.description %></p>
        <div class="location">
          <p><span><%= appliance.location %></span></p>
        </div>
        <div class="availability">
          <% availability = ['Available', 'Unavailable'].sample %>
          <% if availability == 'Available' %>
            <div id="greendot"><%= availability %></div>
          <% else %>
            <div id="reddot"><%= availability %></div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

  </div>
</div>
